* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
#overview-h2,
#overview-h3,
#overview-p,
.note,
.overview-h3,
.overview-p {
    font-size: 16px;
    line-height: 19.2px
}
.note {
    color: #666;
    text-transform: none;
    font-weight: 300
}
.clearfix:after {
    content: "";
    display: table;
    clear: both
}
.footer-list {
    padding-right: 0;
    padding-top: 20px;
    width: 20%
}

@media only screen and (min-device-width: 642px) {
    .loggg {
        width: 152px
    }
    
}

@media only screen and (min-device-width: 768px) {
   
    .loggg {
        width: 140px
    }
}

#sourcing-list{
    max-width: 904px;
    padding-top: 15px;
    padding-bottom: 18px;
    display: none;
    position: absolute;
    top: 42px;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.53);
}

.footer-media>a {
    float: left
}
.serch-inpt {
    border: 2px solid #19446F;
    border-radius: 0!important
}
#content,#home_b,#item_sha,.item_sha {
    background-color: #fff
}

#topbar_sha,.topbar_sha {
    background-color: #fff;
    padding-top: 10px;
    z-index: 1;
    /*padding-bottom:20px;*/
}
.form-control {
    height: 35px
}


#secure
{

    background-image:url(../../assets/helpcenter/images/blue.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
#secure_2
{

    background-image:url(../../assets/gold/Secure-pement-Mobile-Version.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 180px;
}
.page_scecure
{
    position: relative;
    height: 60px;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
        display: inline;
        float:left;
    width: 197px;
    background: #2a93d4 url(arrow.png) no-repeat top 4px right 0px;
   
}

.page_scecure:last-child{
    background-image: none;
}
.payment-step{
    position: absolute;
    top: 50%;
    line-height: 1;
    font-size: 14px;
    transform: translateY(-50%);
}


.step-label {
    color: #fff;
    width: 22px;
    font-size: 20px;
    line-height: 54px;
    font-style: italic;
    font-weight: bold;
    padding-right: 3px;
}

.step-item-box{
    border-collapse: collapse;
    margin:0 auto;
    padding:0;
    font-size: 100%;
}

i.fa-angle-right {
    font-size: 30px;
    /*width: 100%*/
}
.padding_0 {
    padding: 0
}
.container{font-family:verdana;}

.category-bdt{
    height: 30px;
    padding-left: 15px;
}
 

.category-bdt a{
    font-size: 18px;
    color: #333;
    /*height: 30px;*/
}
.category-bdt > a:hover{
    color: #FF6A00;
}

.show-ct-list{
    position: absolute;
    z-index: 9999;
    width: 300px;
    top: 30px;
    background: #fff;
    left: 15px;
    border: 1px solid #ddd;
}

.top-categy{
    color: #255E98;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 18px;
    opacity: .7;
    line-height: 18px;
}

.category-bdt:hover {
    border: 1px solid #ddd !important;
    border-bottom: 1px solid transparent !important;
}

#sourcing-list
{
    padding-left: 3%;
    background-color: rgb(255, 255, 255) !important;
    margin-left: 3%;
    display:none;
    z-index:1;
}

#sourcing-list1
{

    background:url('../../assets/helpcenter/RFQ-Banner-04.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 324px;
}
.source
{  
  border: 1px solid #DAE2ED;
}

.footer-shadow {
    box-shadow: 1px 0 0 rgba(0,0,0,.1)
}
.top-path-li, .top-path-li-a {
    color: #333;
    font-size: 13px;
    overflow: hidden;
}

.top-path {
    width: 100%;
    float: left;
    padding: 22px 0 0 7px;
    margin: 0;
    list-style-type: none;
}
.top-path-li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    margin: 0;
}
.top-path-li-a {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: inherit;
}
.payment, .vip-li {
    letter-spacing: .01em;
}
.top-path-li-a:active, .top-path-li-a:hover {
    color: #255E98;
}
.top-path-icon {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

