.container{font-family:verdana;}
.margin_top{margin-top:30px;}
.padding_bottom{padding-bottom:30px;}
.border_bottom{border-bottom:1px solid #ccc;}
.font_awesome_manual_size i{color: #1996e6;
font-size: 30px;
padding: 20px 0 0 5px;}
