
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
#overview-h2,
#overview-h3,
#overview-p,
.note,
.overview-h3,
.overview-p {
    font-size: 16px;
    line-height: 19.2px
}
.note {
    color: #666;
    text-transform: none;
    font-weight: 300
}
.clearfix:after {
    content: "";
    display: table;
    clear: both
}
.footer-list {
    padding-right: 0;
    padding-top: 20px;
    width: 20%
}

@media only screen and (min-device-width: 642px) {
    .loggg {
        width: 152px
    }
    
}

@media only screen and (min-device-width: 768px) {
   
    .loggg {
        width: 140px
    }
}

.media-ul-li,.media-ul-lii,.policy-list {
    list-style-type: none
}


.policy-list {
    width: 100%;
    font-size: 18px;
    position: relative;
    list-style: disc !important;
}

.policy-list-a {
    color: #666;
    font-size: 14px;
    top: 7px;
    margin-bottom: 10px;
    line-height: 20px
}

.app-tex-icon {
    background-position: 0 -300px
}

.soft-com-pro-icon {
    background-position: 0 -400px
}

.agri-food-pro-icon {
    background-position: 5px -250px
}

.furniture-pro-icon {
    background-position: 0 -600px
}

.electrical-pro-icon {
    background-position: 0 -450px
}

.health-medi-pro-icon {
    background-position: 40px -550px
}

.pack-print-pro-icon {
    background-position: 0 -793px
}

.manpower-pro-icon {
    background-position: 34px -698px
}

.solor-pro-icon {
    background-position: 34px -649px;
}

.machinery-pro-icon {
    background-position: 0 -700px
}

.home-light-pro-icon {
    background-position: 0 -920px
}

.security-pro-icon {
    background-position: 33px -749px
}


.foot-acc-pro-icon {
    background-position: 40px -793px;
}


.lug-bag-pro-icon,.leath-pro-icon {
    background-position: 0 -650px;
}

.policy-list-a:hover {
    text-decoration: underline;
    color: #255E98;
    cursor: pointer
}

.policy-list-a:active {
    color: #255E98
}


.poliy-hd {
    font-size: 15px;
    color: #666;
    padding-bottom: 8px;
    padding-top: 20px;
    text-decoration: none;
    vertical-align: baseline;
    font-weight: 700;
}

.top-path-li, .top-path-li-a {
    color: #333;
    font-size: 13px;
    overflow: hidden;
}

.top-path {
    width: 100%;
    float: left;
    padding: 22px 0 0 7px;
    margin: 0;
    list-style-type: none;
}
.top-path-li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    margin: 0;
}
.top-path-li-a {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: inherit;
}

.top-path-li-a:active, .top-path-li-a:hover {
    color: #255E98;
}
.top-path-icon {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.footer-media>a {
    float: left
}   
.serch-inpt {
    border: 2px solid #19446F;
    border-radius: 0!important
}

#content,#home_b,#item_sha,.item_sha {
    background-color: #fff
}
#topbar_sha,.topbar_sha {
    background-color: #fff;
    padding-top: 10px;
    z-index: 1;
    /*padding-bottom:20px;*/
}

a:hover {
    color: #3175af;
}
.form-control {
    height: 35px
}

i.fa-angle-right {
    font-size: 30px;
    /*width: 100%*/
}

.padding_0 {
    padding: 0
}

.header_cont_color{background:#F5F9FE;}
.header_img_fix{float: none;


.catgory-head-tle{
    padding: 20px 0 0 0;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    line-height: 20px;
    display: block;
    overflow: hidden;
    margin-bottom: 0 !important;
}
.bazar-top-list {
    padding-left: 0;
    width: 100%;
    margin: 0px;
}
.category-bdt{
    height: 30px;
    padding-left: 15px;
}
 

.category-bdt a{
    font-size: 18px;
    color: #333;
    /*height: 30px;*/
}
.category-bdt > a:hover{
    color: #FF6A00;
}
.bazar-top-list>li {
    border-color: #fff;
    border-style: solid;
    z-index: 2;
    list-style: none;
    background: #fff;
    padding: 0;
    border: 0;
    margin: 0;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    /*position: relative;*/

}
.bazar-top-list li a {
    color: #666;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
   /* padding: 3px 0 3px;*/
    width: 85%;
    background: #fff;
    /*padding-left: 40px;*/
    padding-left: 5px;
    line-height: 30px;
    text-align: left;
}
.show-ct-list{
    position: absolute;
    z-index: 9999;
    width: 300px;
    top: 30px;
    background: #fff;
    left: 15px;
    border: 1px solid #ddd;
}
.bazar-top-list>li:hover{
     border-color: #fff;
    border-style: solid;
    z-index: 2;
    list-style: none;
    background: #fff;
    padding: 0;
    margin: 0;
    border: 0;
     border-bottom:1px solid #dedede;
     border-top:1px solid #dedede;
 /*   padding-top: 0;
    background-color: #fff;*/
  /*  box-shadow: 10px 0 0 0 #fff, 1px 3px 4px 0 rgba(0,0,0,.25);*/
   /* z-index: 2;
   
    border-left: 0 none;
    border-right: 0 none;
    color: #202020;*/

}
.bazar-top-list>li:hover >.bazar-top-list>li a .fa-angle-right{
    color: #255E98 !important;
}

.child-ct-list{
    position: absolute;
    left: 300px; 
    background: #fff;
    height: 760px;
    top: -1px;
    border:1px solid #ddd;
    display: none;
    width: 800px;
    transition: all 1s;
}
.child-ct-list>ul{
    max-width: 550px;
    min-width: 500px;
    margin: 0;
    padding: 0;
    float: left;
    padding: 20px;
    height: 450px;
    padding-top: 15px !important;

}
.child-ct-list>ul li{
    width: 50%;
    float: left;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.child-ct-list>ul li a{
    line-height: 20px;
    color: #666;
    text-decoration: none;
    list-style: none;
    width: 100%;
    padding-left: 4%;
    padding-right: 3%;
}
.child-ct-list>ul li a:hover{
    color: #255E98;
    text-decoration: underline;
}
.top-categy{
    color: #255E98;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 18px;
    opacity: .7;
    line-height: 18px;
}

.category-bdt:hover {
    border: 1px solid #ddd !important;
    border-bottom: 1px solid transparent !important;
}