* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
#overview-h2,
#overview-h3,
#overview-p,
.note,
.overview-h3,
.overview-p {
    font-size: 16px;
    line-height: 19.2px
}
.note {
    color: #666;
    text-transform: none;
    font-weight: 300
}
.clearfix:after {
    content: "";
    display: table;
    clear: both
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
#overview-h2,
#overview-h3,
#overview-p,
.note,
.overview-h3,
.overview-p {
    font-size: 16px;
    line-height: 19.2px
}
.note {
    color: #666;
    text-transform: none;
    font-weight: 300
}
.clearfix:after {
    content: "";
    display: table;
    clear: both
}
.footer-list {
    padding-right: 0;
    padding-top: 20px;
    width: 20%
}

@media only screen and (min-device-width: 642px) {
    .loggg {
        width: 152px
    }
    
}

@media only screen and (min-device-width: 768px) {
   
    .loggg {
        width: 140px
    }
}
.footer-list {
    padding-right: 0;
    padding-top: 20px;
    width: 20%
}

@media only screen and (min-device-width: 642px) {
    .loggg {
        width: 152px
    }
    
}

@media only screen and (min-device-width: 768px) {
   
    .loggg {
        width: 140px
    }
}

.top-path-li, .top-path-li-a {
    color: #333;
    font-size: 13px;
    overflow: hidden;
}

.top-path {
    width: 100%;
    float: left;
    padding: 22px 0 0 7px;
    margin: 0;
    list-style-type: none;
}
.top-path-li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    margin: 0;
}
.top-path-li-a {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: inherit;
}
.payment, .vip-li {
    letter-spacing: .01em;
}
.top-path-li-a:active, .top-path-li-a:hover {
    color: #255E98;
}
.top-path-icon {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.footer-media>a {
    float: left
}
.cont-left,.cont-right {
    padding-right: 4%
}


.cont-left,.cont-mid,.cont-right {
    color: #333;
    display: block;
    float: left;
    font-size: 12px;
    font-style: normal;
    margin-top: -5px;
    width: 44%
}
.serch-inpt {
    border: 2px solid #19446F;
    border-radius: 0!important
}

#content,#home_b,#item_sha,.item_sha {
    background-color: #fff
}


#topbar_sha,.topbar_sha {
    background-color: #fff;
    padding-top: 10px;
    z-index: 1;
    /*padding-bottom:20px;*/
}

a:hover {
    color: #3175af;
}

.form-control {
    height: 35px
}

i.fa-angle-right {
    font-size: 30px;
    /*width: 100%*/
}
.padding_0 {
    padding: 0
}
.container{font-family:verdana;}

.category-bdt{
    height: 30px;
    padding-left: 15px;
}
 

.category-bdt a{
    font-size: 18px;
    color: #333;
    /*height: 30px;*/
}
.category-bdt > a:hover{
    color: #FF6A00;
}

.show-ct-list{
    position: absolute;
    z-index: 9999;
    width: 300px;
    top: 30px;
    background: #fff;
    left: 15px;
    border: 1px solid #ddd;
}

.top-categy{
    color: #255E98;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 18px;
    opacity: .7;
    line-height: 18px;
}

.category-bdt:hover {
    border: 1px solid #ddd !important;
    border-bottom: 1px solid transparent !important;
}
