.srch-inpt{
	margin-top: 10px;
	 border-radius: 3px !important; 
	 font-size: 14px; 
	 width: 100%;
}
.company-temp{
	background: #EEEEEE;
}
.company-temp li >a{
	color: #666666;
}
.company-temp li.active a{
	background:#fff !important;
	border: 0px;
	color: #666666;
	cursor: default;
	margin-right: 0;
	margin-left: 0;
}