* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
#overview-h2,
#overview-h3,
#overview-p,
.note,
.overview-h3,
.overview-p {
    font-size: 16px;
    line-height: 19.2px
}
.note {
    color: #666;
    text-transform: none;
    font-weight: 300
}
.clearfix:after {
    content: "";
    display: table;
    clear: both
}
.footer-list {
    padding-right: 0;
    padding-top: 20px;
    width: 20%
}

@media only screen and (min-device-width: 642px) {
    .loggg {
        width: 152px
    }
    
}

@media only screen and (min-device-width: 768px) {
   
    .loggg {
        width: 140px
    }
}


.bd-busi-img {
    height: 140px;
    width: 150px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
    overflow: hidden;
    display: block;
    float: left;
    cursor: pointer
}

.bdtdc-tit,.bdtdc-tit a {
    font-size: 20px;
    width: 100%;
    padding-top: 0;
    margin-top: -5px;
    color: #000;
    line-height: 25px;
    font-family: verdana;
    font-weight: 700
}
.kazi-ah{
    width: 100%;
    font-size: 14px;
    color: #666666;
    padding-left: 17%;
    padding-right: 20%;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
}

/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #ddd;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #255E98 !important;
  margin: 0 3px;
  }

.left,
.quote-cmp,
.tweet {
    float: left
}
.top-path-li, .top-path-li-a {
    color: #333;
    font-size: 13px;
    overflow: hidden;
}
.top-path {
    width: 100%;
    float: left;
    padding: 22px 0 0 7px;
    margin: 0;
    list-style-type: none;
}
.top-path-li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    margin: 0;
}
.top-path-li-a {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: inherit;
}
.payment, .vip-li {
    letter-spacing: .01em;
}
.top-path-li-a:active, .top-path-li-a:hover {
    color: #255E98;
}
.top-path-icon {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.item {
    padding: 0!important;
    margin: 0!important
}
.footer-media>a {
    float: left
}
.serch-inpt {
    border: 2px solid #19446F;
    border-radius: 0!important
}

#content,#home_b,#item_sha,.item_sha {
    background-color: #fff
}


#topbar_sha,.topbar_sha {
    background-color: #fff;
    padding-top: 10px;
    z-index: 1;
    /*padding-bottom:20px;*/
}

.carousel-inner .left {
    z-index: 3;
}


a:hover {
    color: #3175af;
}
.form-control {
    height: 35px
}

i.fa-angle-right {
    font-size: 30px;
    /*width: 100%*/
}

.padding_0 {
    padding: 0
}
.container{font-family:verdana;}

.category-bdt{
    height: 30px;
    padding-left: 15px;
}
 

.category-bdt a{
    font-size: 18px;
    color: #333;
    /*height: 30px;*/
}
.category-bdt > a:hover{
    color: #FF6A00;
}

.show-ct-list{
    position: absolute;
    z-index: 9999;
    width: 300px;
    top: 30px;
    background: #fff;
    left: 15px;
    border: 1px solid #ddd;
}

.top-categy{
    color: #255E98;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 18px;
    opacity: .7;
    line-height: 18px;
}

.category-bdt:hover {
    border: 1px solid #ddd !important;
    border-bottom: 1px solid transparent !important;
}
.next,.prev {
    color: #fff;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    z-index: 9
}
.next {
    font-size: 40px;
    right: 5px
}
#footer-shadow, .footer-shadow {
    box-shadow: 1px 0 0 rgba(0,0,0,.1);
}