.extra-bgforsupplier
{
	background-image: url("../bdsource/forsupplier.png");
	float: left;
margin-right: 18px;
width: 44px;
height: 44px;
position: relative;
top: 8px;
background-size: 44px 44px;
}

.extra-bgforbuyer
{
	background-image: url("../bdsource/buyer.png");
	float: left;
margin-right: 18px;
width: 44px;
height: 44px;
position: relative;
top: 8px;
background-size: 44px 44px;
}
.goBack {
  border-radius: 4px;
  background-color: #f5f5f5;
  border: none;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
  width: ;
  transition: all 0.5s;
  cursor: pointer;
}

.goBack span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.goBack span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.goBack:hover span {
  padding-right: 25px;
}

.goBack:hover span:after {
  opacity: 1;
  right: 0;
}
.home-category_bg
{
  background-image: url("../bdsource/bdtdc-home-banner.jpg");

position: relative;

background-size: 100% 100%;
}