.main-row-why{overflow:hidden}.user-guide-fix-why{margin-top:20px;position:fixed}.mymenu-why-li-l{border-bottom:1px solid #ccc;margin-top:2px;clear:both}.mymenu-why-li-ap{line-height:100%;font-size:200%;width:100%;padding:8% 1% 8% 0;color:#000;font-weight:bolder;cursor:pointer;clear:both}div.user-giude-nav-div-why{min-height:250px}#section-why-bdtdc1,#section-why-bdtdc2,#section-why-bdtdc3,#section-why-bdtdc4,#section-why-bdtdc5,#section-why-bdtdc6{padding-top:5%;margin-left:150px;font-size:12px;clear:both}.cont-left-why,.hp,.wordp-why{font-size:14px;color:#333;float:left}.wordp-why{font-style:normal;display:inline-block}.cont-left-why{padding-right:4%;display:block;font-style:normal;margin-top:-5px;width:55%}.cont-mid-why img{padding:10px;margin-top:-12%;float:left;width:44%}.qbg-icon-find{width:36px;height:36px;margin-top:-18px;background-position:0 -5px}.hp{line-height:140%;font-weight:400;padding-bottom:3%;clear:both}.find-h3,.user-gd-head-why{color:#333;font-weight:700}.find-h3{float:left;font-size:110%;padding-bottom:5%}.find-section1,.find-section2,.find-section3,.find-section4{padding-bottom:2%;clear:both}.find-section-list1{width:55%;float:left;display:block;padding:0;margin:0}.find-section-list11 img{width:44%;float:left;display:block;padding-left:3%;margin-top:10%}.user-gd-head-why{padding-bottom:5%;font-size:300%}.user-cont-p-why{float:left;font-size:115%;line-height:160%;color:#000;font-weight:400;text-align:justify;padding-bottom:2%}.qbg-icon-step1{width:46px;height:46px;background-position:3px -320px}.why-bdtdc-submenu{width:300px;height:100%;float:left;display:block;visibility:visible}.why-bdtdc-submenu-ul-li-bdt{color:#000;font-size:14px;text-decoration:none;padding:5px;margin-left:10px;border-bottom:1px solid #ccc}.why-bdtdc-submenu-ul-li-bdt-aa{color:#000;font-size:14px;text-decoration:none;padding:4px;margin-left:10px;visibility:visible;display:block}.all-header-menu,.all-header-menu li a{float:left;font-size:100%;display:block;text-decoration:none}.all-header-menu{width:100%;overflow:hidden;vertical-align:top;position:relative;font-weight:400;list-style:none}.all-header-menu li{list-style:none;float:left;margin-left:10px;color:#666;display:block;padding:5px 8px}.all-header-menu li a{color:#333;padding-right:5px;margin-right:10px}.all-header-menu li a:active,.all-header-menu li a:hover{color:#ff751a;text-decoration:none}.head-query{font-size:12px;background:#fff;border-radius:3px;border:1px solid #c8d2e0;border-bottom-width:2px;margin:8px 16px; min-height: 138px;}.head-query:hover{}.head-query-top{border-bottom:1px solid #c8d2e0;padding:4px 8px}.icon-header-wrap{width:106px;text-align:right;padding-right:4px}.ui2-flag{background-image:url(../bdtdc-images/all.282828b9.png);background-repeat:no-repeat;display:inline-block;width:24px;height:24px;background-position:30px 30px}.ui2-flag-bd{background-position:-79px -27px}.flag-country{height:30px;margin-right:4px;margin-top:3px}.u-inline-block{display:inline-block;vertical-align:middle}.aui-icon-gold-supplier-year{height:18px;text-align:left;background:url(../bdtdc-images/5d1792b9.85e531b8.png) -152px -279px no-repeat;overflow:visible;position:relative;width:32px;float:right}.aui-icon{margin:6px 0 0}.unit-img-wrap{width:60px;height:62px}.pp-detail{color:#fff;background-color:#255E98;padding-right:0;border:none}.aui2-grid-quo-status-col{color:#666!important;line-height:14px;font-size:12px!important}.rat{display:block;margin-left:10px;padding-right:17px;float:left;font-size:14px;color:#666}.list-read,.ung{display:none;box-shadow:1px 1px 1px 1px #ddd;position:absolute;z-index:1}.ui2-flag-in{background-position:-131px -157px}.ui2-flag-cn{background-position:-365px -53px}.ung{width:69px;height:38px;padding:10px;top:29px;left:9%}.list-read{width:140px;padding:10px 15px;background:#fff;top:30px;left:29%}.inbox-list,.inbox-list2,.inbox-list3,.inbox-list4{color:#333;text-decoration:none;font-weight:700}.inbox-list2:hover,.inbox-list3:hover,.inbox-list4:hover,.inbox-list:hover{text-decoration:none;color:#ff751a}.draft,.folder,.order-bd,.spam-trash{display:block;margin:0;font-size:100%;overflow:hidden;vertical-align:top;width:100%;padding-left:0}.indiv-sub-list{text-decoration:none;color:#666;font-size:14px;float: left; padding-right: 7px;padding-left: 4px;}.indiv-sub-list:hover .folder_show{color:#255E98; display: block !important;}.draft li:hover,.folder li:hover,.order-bd li:hover,.spam-trash li:hover{background:#DAE2ED;width:100%;}.flg,.flg-trad{display:block;padding:5px;border-radius:3px!important;float:left}.remove{width:20px;font-size:14px;color:#728398;height:25px;float:left;clear:both}.flg-trad{width:135px}.flg{width:70px}.flg a:hover,.flg:hover{background:#1686CC;color:#fff}.flg:hover a{color:#fff}.tab-content-mkn{padding:20px;display:none}#all_inquiry{display:block}.current-mkn{border-left:3px solid #486A8C;background:#DAE2ED}.inq_flag_default{color:#ddd!important}.inq_flag_active,.inq_flag_hover:hover{color:#888!important}.checkbox_select{border: 1px solid #486a8c; background: #dae2ed;}.inbox-dashboard{font-weight:600;color:#333;padding-left:22px;font-size:15px}.inbox-dashboard:hover{color:#ff751a}

.class_for_remove span{
	/*float: left;*/
	padding-right: 7px;
}
.my-ftch li a:hover{
		color: #fff !important;
}
.membr{
	padding: 0;
    line-height: 25px;
    font-size: 14px;
    font-weight: normal;
}
.membr li{
	list-style: disc !important;
	padding-bottom: 15px;
}
.class_for_remove:hover{
	    background: #DAE2ED;
        width: 100%;
}
.contgbd {
    color: #5b9bd1;
        font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
}
.contgbd span {
    color: #919191;
    display: block;
    font-size: 13px;
    margin-top: 7px;
}
.contg {
    padding-top: 5px;
    width: 270px;
    text-align: center;
}
.contg2 {
    width: 90%!important;
    background: 0 0!important;
    border: 0!important;
    padding: 5px;
    font-size: 12px!important;
    margin: 0 5px 10px!important;
}
.cong-sce{
	display: block;
	float: left;
	height: 192px;
}
.bdtdc-sc-list li{
	line-height: 28px;
	display: block;
}
.validation_message span ul li{
	list-style: disc ; 
}
.vald-info li{
  list-style-type: none !important;
  position: relative;
}
.tabs-menu-mkn li{
        display: block;
        width: 100%;
        clear: both !important;

}
.cnt-category{
    padding: 0;
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #666;
}
.bd-cat-list{
    padding-left: 0;
}
.bd-cat-list li{
    border-style: solid;
    border-width: 1px;
    position: relative;
    z-index: 2;
    padding-left: 0 !important;
    list-style: none;
    transition: all .3s !important;
  
}
.cnt-cacostos-list li{
    float: left;
}
.sub-ct-list a{
    width: 250px;
    float: left;
    display: inline-block;
    font-size: 13px;
    color: #333;
    line-height: 26px;
}
.sb-list{
    padding-top: 0px; 
    margin-left: 100%; 
    margin-top: -24px;
    display: block;
}
.query-box{
    max-width: 700px;
    margin: 0 auto;
    display: block;
}
